<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Editar producto</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
</head>
<body>
    <br/><a class="btnMio" href="{% url 'productoList' %}" >Regresar</a>

    <div class="formContainer">
        <div class="formLeft">
            <img src="/static/Recursos/Edit.svg" style="width: 60%;">
        </div>
        <div class="formRight">
            <form method="POST" class="formio">
                <h1>Editar producto</h1>
        
                <table class="tableMio">
                    {{formaProducto}}
                </table>
        
                <button type="submit" id="btnEditar" class="btnMio">Guardar cambios</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</body>
</html>