<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Nueva venta</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
</head>
<body>
   <br/> <a class="btnMio" href="{% url 'productoList' %}">Regresar</a>

    <div class="formContainer">
        <div class="formLeft">
            <img src="/static/Recursos/newUser.svg" style="width: 80%;">
        </div>
        <div class="formRight">
            <form method="POST" class="formio">
                <h1>Nueva venta</h1>
        
                <table>
                    {{formaVenta}}
                </table>
        
                <button type="submit" id="btnCrear" class="btnMio">Generar</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</body>
</html>