{% extends './base.html' %}
{% block content %}
    <h1 class="display-1 d-flex justify-content-center">Proveedores</h1>
    <br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Razon social</th>
                <th scope="col">Email</th>
                <th scope="col">Direccion</th>
                <th scope="col">Ver productos</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <th scope="row">{{proveedor.id}}</th>
                <td>{{proveedor.razonSocial}}</td>
                <td>{{proveedor.email}}</td>
                <td>{{proveedor.direccion}}</td>
                <td><a href="proveedores/{{proveedor.id}}/productos">Productos</a></td>
                <td><a href="editar/{{proveedor.id}}">Editar</a></td>
                <td><a href="eliminar/{{proveedor.id}}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}