<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Detalle usuario</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
</head>
<body>
    <br/><a href="{% url 'usuarioList' %}" class="btnMio">Regresar</a>
    <div class="contenido" style="text-align: center;">
        <h1>Detalle de {{usuario.nombre}}</h1>
    
        <h2>
            Id: {{usuario.id}}
        </h2>
        <h2>
            Nombre: {{usuario.nombre}}
        </h2>
        <h2>
            Apellido: {{usuario.apellido}}
        </h2>
        <h2>
            Correo electronico: {{usuario.correoElectronico}}
        </h2>
        <h2>
            Fecha de ingreso: {{usuario.fechaIngreso}}
        </h2>
    </div>
</body>
</html>